<div class="main-div">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username" required>
          <mat-error>
            Please provide a valid username, must be an email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Token" formControlName="token" required>
          <mat-error>
            Please provide a valid token, must be 4 digits
          </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="!form.valid">Submit</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
